body {
    background-color: rgb(0, 0, 0);
}
html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(0, 0, 0, 0.8);
    font-family: 'Poppins', sans-serif;
    z-index: 3;
}
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 45px;
    font-family: 'Teko', sans-serif;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 5px;
    font-size: 18px;
}
.nav-links li{
    list-style: none;
}

.anim {
    display: none;
    cursor: pointer;
}

.anim div{
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.2s ease-in;

}

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width: 900px){
    body{
            overflow-x: hidden;
            
    }
    .nav-links{
        position: absolute;
         right: 0px;
         height: 92vh;
         top: 8vh;
         background-color: rgb(0, 0, 0, 0.8);
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 50%;
         transform: translateX(100%);
       
         transition: transform 0.5s ease-in-out; 
    }
    .nav-links li{
        opacity: 0;
    }
    .anim{
        display: block;
    }
    
}
.nav-active, .lines{
    transform: translateX(0%);
}


@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}
.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px, -6px);
}


.main{
    background-image: url(Images/backgroundimg.jpg);
    background-size: cover;
    background-position: center;
    height: 109vh;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-block: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
    border-radius: 100vw;
    border: 2px solid;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(43, 43, 43);
}

.content{
    background-color: rgb(0, 0, 0);
}

h1{
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.contenttext{
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
    letter-spacing: 2px;
}
#btnscrollup {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(77, 77, 77);
   /* box-shadow: 0 0 10px rgb(51, 51, 51);*/
    color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    border: none;
}
#btnscrollup{
    transition: 0.25s linear;
}
#btnscrollup:hover{
    background-color: rgb(185, 185, 185);
    box-shadow: 0 0 20px rgb(185, 185, 185);
    transition: 0.2s linear;
}

#btnscrollup:active {
    background-color: rgb(58, 58, 58) ;
    
}
#btnscrollup::after{
    transition: 0.2s linear;
}
#content1, #content2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a:hover{
    color: rgb(150, 150, 150);
}
a{
    transition-duration: 0.5s;
    
}
ul, li:hover{
    transition: 0.8s;
}
/*   ::-webkit-scrollbar{
        width: 0;
    }
*/
h2, .date{
    color: rgb(0, 0, 0);
}
.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px 160px 70px;
    grid-template-areas: "image" "text" "stats";

    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    background: rgb(31, 31, 31);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.253);
    text-align: center;
    
    transition: 0.5s;
    cursor: pointer;
    margin:55px;
}
.card-image{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    background-color: rgb(36, 36, 36);
    /*border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
    cursor: initial;
}
.card-stats{
    
}
/*.textcard{
    
}*/
.card:hover{
    transform: scale(1.06);
    box-shadow: 0px 0px 70px rgba(235, 235, 235, 0.425);
    border-radius: 5px;
    cursor:initial;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    
}
h2, .card-text, .date, .dawname{
    color: rgb(211, 211, 211);
    margin-top: 15px;
    margin-bottom: 10px;
}
.pic1{
    background-image: url('Images/Ableton-Logo.wine.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
}
.pic2{
    background-image: url('Images/flstudiologo.png');
    background-position: center;
    background-size: 250px;
    background-repeat: no-repeat;
}
.and{
    position: absolute;
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin-top: 180px;
    font-size: 30px;
    z-index: 1;
}

footer{
    background: rgb(37, 37, 37);
    color: rgb(230, 230, 230);
    font-family: 'Poppins', sans-serif;
    margin-top: auto;
    padding: 3.5em;
    text-align: center;
}
.cardbutton1{
    border: none;
    padding: 15px 60px;
    border-radius: 25px;
    font-size: 15px;
    background-color: rgb(24, 24, 24);
    color: rgb(230, 230, 230);
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    /*text-transform: uppercase;*/
}
.cardbutton1:hover,.cardbutton1:focus{
    background-color: rgb(49, 49, 49);
    box-shadow: 0 0 5px rgb(185, 185, 185);
    border-radius: 5px;
}
.cardbutton1:active{
    background-color: rgb(29, 29, 29);
}

h4{
    letter-spacing: 0px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    font-family: 'Roboto Condensed', sans-serif;
}

