body {
    background-color: black;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 45px;
    font-family: 'Teko', sans-serif;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 5px;
    font-size: 15px;
}
.nav-links li{
    list-style: none;
    
}

.anim {
    display: none;
    cursor: pointer;
}

.anim div{
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.2s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width: 900px){
    body{
            overflow-x: hidden;
            
    }
    .nav-links{
        position: absolute;
         right: 0px;
         height: 92vh;
         top: 8vh;
         background-color: black;
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 50%;
         transform: translateX(100%);
         transition: transform 0.5s ease-in-out; 
    }
    .nav-links li{
        opacity: 0;
    }
    .anim{
        display: block;
        
    }
}
.nav-active{
    transform: translateX(0%);
}


@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.main{
    background-image: url(Images/backgroundimg.jpg);
    background-size: cover;
    background-position: center;
    height: 109vh;
}
/* navbar effect */
/*.underlinehovereffect::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: rgb(226, 226, 226);
    transition: width 0.4s ease-out;
    
  }
.underlinehovereffect:hover::before {
    width: 100%;
    left: 0;
    right: auto;
  }
  */

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    
    border-radius: 100vw;
    margin-block: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
    border-radius: 100vw;
    border: 2px solid;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 31, 31);
}

.content{
    background-color: rgb(0, 0, 0);
}

h1{
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}
p{
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
    letter-spacing: 2px;
}
#btnscrollup {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
   /* box-shadow: 0 0 10px rgb(51, 51, 51);*/
    color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    border: none;
}
#btnscrollup{
    transition: 0.25s linear;
}
#btnscrollup:hover{
    background-color: rgb(185, 185, 185);
    box-shadow: 0 0 20px rgb(185, 185, 185);
    transition: 0.2s linear;
}

#btnscrollup:active {
    background-color: rgb(58, 58, 58) ;
    
}
#btnscrollup::after{
    transition: 0.2s linear;
}

